<div class="container">
  <div class="row">
    <div class="col">
      <h1>Listado Personas</h1>

      <button
        class="btn btn-primary"
        [disabled]="deshabilitar"
        (click)="agregarPersona()"
      >
        Agregar persona
      </button>

      <p>{{ mensaje }}</p>

      <app-persona></app-persona>

      <label for="titulo-persona"> Titulo Persona</label>
      <input
        type="text"
        class="form-control"
        (input)="modificarTitulo($event)"
      />
      {{ titulo }}
    </div>
  </div>
</div>
